@import "customVariables";
@import "../assets/stylesheets/bootstrap";

.search {
    position: absolute;
}

input {
    width: 500px !important;
}

.drop {
    position: absolute;
    top: 47px;
    left: 0px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.item {
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}

.item:hover{
   background-color: $lightPurple;
}

.divider {
    height: 50px;
    width: 100%;
    float: left;
    background-color: $darkPurple;
    color: #FFF;
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
}

td:first-child {
    width: 90px;
}