<div class="container">
    <div class="row">
        <div class="alert alert-dismissable alert-danger" [hidden]="!error">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="error = false;">×</a>
            <strong>{{ showname }}</strong> is already on your list!
        </div>
        <div class="input-group input-group-lg ">
            <form class="show-form" ng-submit="searchShows()">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search tv shows" #showquery (keyup.enter)="searchShows(showquery.value)" (keyup.backspace)="showDropdown = false;" aria-describedby="sizing-addon1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="searchShows(showquery.value)"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <div [hidden]="!showDropdown" class="drop">
                <div *ngFor="let x of searched" (click)="saveShow(x); showquery.value='';" class="item"><span class="glyphicon glyphicon-plus"></span> {{ x.show.name }}</div>
            </div>
        </div>
    </div>
    <showlist [allSaved]="savedShows" [storage]='storage' (notify)='deleteShow($event)'></showlist>
</div>