<div class="container">
    <div class="row">
        <div class="alert alert-dismissable alert-danger" [hidden]="!error">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="error = false;">×</a>
            <strong>{{ showname }}</strong> is already on your list!
        </div>
        <div class="input-group input-group-lg ">
            <form class="show-form" ng-submit="searchShows()">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search tv shows" #showquery (keyup.enter)="searchShows(showquery.value)" (keyup.backspace)="showDropdown = false;" aria-describedby="sizing-addon1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="searchShows(showquery.value)"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <div [hidden]="!showDropdown" class="drop">
                <div *ngFor="let x of searched" (click)="saveShow(x); showquery.value='';" class="item"><span class="glyphicon glyphicon-plus"></span> {{ x.show.name }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider"><h3>Saved</h3></div>
    </div>
    <div class="row">
        <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Genre</th>
            <th>Premiered</th>
            <th>Rating</th>
            <th>TVMaze page</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of savedShows; let i = index;">
            <td><a href="#"><img src="{{ x.show.image.medium }}" width="80px;"></a></td>
            <td>{{ x.show.name }}</td>
            <td>{{ x.show.genres }}</td>
            <td>{{ x.show.premiered | date:'dd.MM.yyyy' }}</td>
            <td>{{ x.show.rating.average }}</td>
            <td> <a href="{{ x.show.url }}" target="_blank"><span class="glyphicon glyphicon-chevron-right"></span></a> </td>
            <td><span class="glyphicon glyphicon-remove" (click)="deleteShow(i)"></span></td>
        </tr>
        </tbody>
    </table>
    <div [hidden]="savedShows.length">Search tv-shows and add them to list.</div>
    </div>
</div>