<div class="row">
    <div class="divider"><h3>Saved</h3></div>
</div>
<div class="row">
    <div class="filter" [hidden]="!filtered">Filtered with: <div class="close" (click)="emptyFilter()"><span class="glyphicon glyphicon-remove-circle"></span></div><div class="genrewrapper">{{ genreText }}</div></div>
</div>
<div class="row">
    <table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Genre</th>
        <th>Premiered</th>
        <th>Rating</th>
        <th>TVMaze page</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of allSaved | genreFilter:genreText; let i = index;">
        <td><a href="#"><img src="{{ x.show.image.medium }}" width="80px;"></a></td>
        <td>{{ x.show.name }}</td>
        <td><div *ngFor="let g of x.show.genres" (click)="filterWithGenre(g)">{{ g }}</div></td>
        <td>{{ x.show.premiered | date:'dd.MM.yyyy' }}</td>
        <td>{{ x.show.rating.average }}</td>
        <td> <a href="{{ x.show.url }}" target="_blank"><span class="glyphicon glyphicon-chevron-right"></span></a> </td>
        <td><span class="glyphicon glyphicon-remove" (click)="onDelete(i)"></span></td>
    </tr>
    </tbody>
</table>
<div [hidden]="allSaved.length">Search tv-shows and add them to list.</div>
</div>